<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="NewtTheWolf aka Dominik Spitzli" />
<meta name="robots" content="noindex" />
<meta name="AdsBot-Google" content="noindex" />
<meta property="og:title" content="Device Manager" />
<meta property="og:image" content="/images/favicon.png" />
<meta name="theme-color" content="#9003fc" />

<!-- PAGE TITLE HERE -->
<title><%~ it.page.title %></title>

<!-- FAVICONS ICON -->
<link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
<script src="https://unpkg.com/@tabler/core@1.0.0-beta4/dist/js/tabler.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/@tabler/core@1.0.0-beta4/dist/css/tabler.min.css" />
<link rel="stylesheet" href="https://unpkg.com/@tabler/core@1.0.0-beta4/dist/css/tabler-flags.min.css" />
<link rel="stylesheet" href="https://unpkg.com/@tabler/core@1.0.0-beta4/dist/css/tabler-payments.min.css" />
<link rel="stylesheet" href="https://unpkg.com/@tabler/core@1.0.0-beta4/dist/css/tabler-vendors.min.css" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.jqueryui.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
<script src="/js/main.bundle.js"></script>
