<% layout('layouts/layout.ejs') %>
<table id="overview" class="display" style="width: 100%">
  <thead>
    <tr>
      <th>Computername</th>
      <th>IP</th>
      <th>Datum</th>
      <th>Software</th>
      <th>Key</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Computername</th>
      <th>IP</th>
      <th>Datum</th>
      <th>Software</th>
      <th>Key</th>
    </tr>
  </tfoot>
</table>

<script src="/js/overview.bundle.js"></script>
